RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Denegar acceso a .env y vendor
<Files ".env">
    Require all denied
</Files>

<IfModule mod_rewrite.c>
    RewriteRule ^vendor/ - [F,L]
</IfModule>

# Desactivar ModSecurity para webhooks de MercadoPago
<IfModule mod_security.c>
    SecRuleEngine Off
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>
